{% extends "base.html" %}
{% block title %} Spider {% endblock %}

{% block page_content %}
<div class="container">
	<div class="jumbotron" style="background-color: white">
		<h2>Howdy!</h2>
		<br>
		<p>
			这是开智数据科学入门课程的一个小小的结业项目，由于时间有限，做的有些简陋，Lol。
			<br>
			<br>
			不过还是走了整个过程，从数据爬取，数据分析，可视化以及建个小小的静态网站^_^。关于课程的
			更多输出，请移步的<a href="https://yongle.gitbooks.io/data-science/content/">gitbook</a>或者<a href="http://www.jianshu.com/users/ccecdacdbe82/latest_articles">简书</a>。
			<br>
			<br>
			这个小项目的代码数据等在我的<a href="https://github.com/lyltj2010/miapp">github</a>，感兴趣的欢迎来踩。	
		</p>

		<br>
		<h2>关于我</h2>
		<br>
		<p>
			本人<a href="http://www.tamu.edu/">Texas A&M University</a>在读硕士一枚，毕业于低调的天津大学，传统工科男，正在往不传统的方向转ing!
		</p>
		
	</div>
</div>

{% endblock %}