{% extends "base.html" %}
{% block title %} Spider {% endblock %}

{% block page_content %}
<div class="container">
	<h2>App总排行榜</h2>
	<div class="row">
		<div class="col-md-6">
			<table class="table table-striped">
			  <thead>
			    <tr>
			      <th>名字</th>
			      <th>类别</th>
			      <th>评论数</th>
			      <th>评分</th>
			      <th>网址</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <td>手机淘宝</td>
			      <td>时尚购物</td>
			      <td>258305</td>
			      <td>10/10</td>
			      <td><a href="http://app.mi.com/detail/1023">链接</a></td>
			    </tr>
			    <tr>
			      <td>WPS Office</td>
			      <td>效率办公</td>
			      <td>169003</td>
			      <td>10/10</td>
			      <td><a href="http://app.mi.com/detail/14322">链接</a></td>
			    </tr>
			    <tr>
			      <td>小米路由器</td>
			      <td>实用工具</td>
			      <td>161940</td>
			      <td>10/10</td>
			      <td><a href="http://app.mi.com/detail/53711">链接</a></td>
			    </tr>
			    <tr>
			      <td>美图秀秀</td>
			      <td>摄影摄像</td>
			      <td>148766</td>
			      <td>10/10</td>
			      <td><a href="http://app.mi.com/detail/1326">链接</a></td>
			    </tr>
			    <tr>
			      <td>猿题库</td>
			      <td>学习教育</td>
			      <td>95702</td>
			      <td>10/10</td>
			      <td><a href="http://app.mi.com/detail/61201">链接</a></td>
			    </tr>
			  </tbody>
			</table>			
		</div> <!-- end of col-md-6 -->

		<div class="col-md-6">
			<table class="table table-striped">
			  <thead>
			    <tr>
			      <th>名字</th>
			      <th>类别</th>
			      <th>评论数</th>
			      <th>评分</th>
			      <th>网址</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <td>百度糯米-美食电影</td>
			      <td>时尚购物</td>
			      <td>94157</td>
			      <td>10/10</td>
			      <td><a href="http://app.mi.com/detail/497">链接</a></td>
			    </tr>
			    <tr>
			      <td>派派同城交友聊天</td>
			      <td>聊天社交</td>
			      <td>91856</td>
			      <td>10/10</td>
			      <td><a href="http://app.mi.com/detail/19174">链接</a></td>
			    </tr>
			    <tr>
			      <td>虾米音乐</td>
			      <td>影音视听</td>
			      <td>83134</td>
			      <td>10/10</td>
			      <td><a href="http://app.mi.com/detail/31250">链接</a></td>
			    </tr>
			    <tr>
			      <td>超级玛丽</td>
			      <td>跑酷闯关</td>
			      <td>78786</td>
			      <td>10/10</td>
			      <td><a href="http://app.mi.com/detail/9436">链接</a></td>
			    </tr>
			    <tr>
			      <td>疯狂猜成语</td>
			      <td>休闲创意</td>
			      <td>75938</td>
			      <td>10/10</td>
			      <td><a href="http://app.mi.com/detail/39151">链接</a></td>
			    </tr>
			  </tbody>
			</table>			
		</div> <!-- end of col-md-6 -->
	</div>
	<h2>App分类排行榜</h2>

	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-info">
				<div class="panel-heading">Panel title</div>
				<div class="panel-body">
					<table class="table table-condensed" style="margin-bottom:0px">
					  <thead>
					    <tr>
					      <th>App</th>
					      <th>网址</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <td>百度糯米</td>
					      <td><a href="http://app.mi.com/detail/497">链接</a></td>
					    </tr>
					    <tr>
					      <td>派派同城交友</td>
					      <td><a href="http://app.mi.com/detail/19174">链接</a></td>
					    </tr>
					    <tr>
					      <td>超级玛丽</td>
					      <td><a href="http://app.mi.com/detail/9436">链接</a></td>
					    </tr>
					  </tbody>
					</table>
				</div>
			</div>

			<div class="panel panel-info">
				<div class="panel-heading">Panel title</div>
				<div class="panel-body">
					<table class="table table-condensed" style="margin-bottom:0px">
					  <thead>
					    <tr>
					      <th>App</th>
					      <th>网址</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <td>百度糯米</td>
					      <td><a href="http://app.mi.com/detail/497">链接</a></td>
					    </tr>
					    <tr>
					      <td>派派同城交友</td>
					      <td><a href="http://app.mi.com/detail/19174">链接</a></td>
					    </tr>
					    <tr>
					      <td>超级玛丽</td>
					      <td><a href="http://app.mi.com/detail/9436">链接</a></td>
					    </tr>
					  </tbody>
					</table>
				</div>
			</div>
		</div> <!-- end of col-md-4 -->

		<div class="col-md-4">
			<div class="panel panel-info">
				<div class="panel-heading">Panel title</div>
				<div class="panel-body">
					<table class="table table-condensed" style="margin-bottom:0px">
					  <thead>
					    <tr>
					      <th>App</th>
					      <th>网址</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <td>百度糯米</td>
					      <td><a href="http://app.mi.com/detail/497">链接</a></td>
					    </tr>
					    <tr>
					      <td>派派同城交友</td>
					      <td><a href="http://app.mi.com/detail/19174">链接</a></td>
					    </tr>
					    <tr>
					      <td>超级玛丽</td>
					      <td><a href="http://app.mi.com/detail/9436">链接</a></td>
					    </tr>
					  </tbody>
					</table>
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading">Panel title</div>
				<div class="panel-body">
					<table class="table table-condensed" style="margin-bottom:0px">
					  <thead>
					    <tr>
					      <th>App</th>
					      <th>网址</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <td>百度糯米</td>
					      <td><a href="http://app.mi.com/detail/497">链接</a></td>
					    </tr>
					    <tr>
					      <td>派派同城交友</td>
					      <td><a href="http://app.mi.com/detail/19174">链接</a></td>
					    </tr>
					    <tr>
					      <td>超级玛丽</td>
					      <td><a href="http://app.mi.com/detail/9436">链接</a></td>
					    </tr>
					  </tbody>
					</table>
				</div>
			</div>
		</div> <!-- end of col-md-4 -->

		<div class="col-md-4">
			<div class="panel panel-info">
				<div class="panel-heading">Panel title</div>
				<div class="panel-body">
					<table class="table table-condensed" style="margin-bottom:0px">
					  <thead>
					    <tr>
					      <th>App</th>
					      <th>网址</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <td>百度糯米</td>
					      <td><a href="http://app.mi.com/detail/497">链接</a></td>
					    </tr>
					    <tr>
					      <td>派派同城交友</td>
					      <td><a href="http://app.mi.com/detail/19174">链接</a></td>
					    </tr>
					    <tr>
					      <td>超级玛丽</td>
					      <td><a href="http://app.mi.com/detail/9436">链接</a></td>
					    </tr>
					  </tbody>
					</table>
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading">Panel title</div>
				<div class="panel-body">
					<table class="table table-condensed" style="margin-bottom:0px">
					  <thead>
					    <tr>
					      <th>App</th>
					      <th>网址</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <td>百度糯米</td>
					      <td><a href="http://app.mi.com/detail/497">链接</a></td>
					    </tr>
					    <tr>
					      <td>派派同城交友</td>
					      <td><a href="http://app.mi.com/detail/19174">链接</a></td>
					    </tr>
					    <tr>
					      <td>超级玛丽</td>
					      <td><a href="http://app.mi.com/detail/9436">链接</a></td>
					    </tr>
					  </tbody>
					</table>
				</div>
			</div>
		</div> <!-- end of col-md-4 -->		
	</div>
</div>

{% endblock %}