{% extends "base.html" %}
{% block title %} Spider {% endblock %}

{% block page_content %}
<div class="container">
	<h2>App总排行榜</h2>
	<p>我们数据里有app的评分数据，所谓精品就是评论人很多而且评分很高，评论多说明这个app受众很大，而且用户比较活跃，同时用户体验也比较好。这里给出前100的app，给app控们一个参考，URL都给你了，快拿走吧！</p>
	<br>
	<div class="row">
		<div class="col-md-6">
			<table class="table table-striped">
			  <thead>
			    <tr>
			      <th>名字</th>
			      <th>类别</th>
			      <th>评论数</th>
			      <th>评分</th>
			      <th>网址</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <td>手机淘宝</td>
			      <td>时尚购物</td>
			      <td>258305</td>
			      <td>10/10</td>
			      <td><a href="http://app.mi.com/detail/1023">链接</a></td>
			    </tr>
			    <tr>
			      <td>WPS Office</td>
			      <td>效率办公</td>
			      <td>169003</td>
			      <td>10/10</td>
			      <td><a href="http://app.mi.com/detail/14322">链接</a></td>
			    </tr>
			    <tr>
			      <td>小米路由器</td>
			      <td>实用工具</td>
			      <td>161940</td>
			      <td>10/10</td>
			      <td><a href="http://app.mi.com/detail/53711">链接</a></td>
			    </tr>
			    <tr>
			      <td>美图秀秀</td>
			      <td>摄影摄像</td>
			      <td>148766</td>
			      <td>10/10</td>
			      <td><a href="http://app.mi.com/detail/1326">链接</a></td>
			    </tr>
			    <tr>
			      <td>猿题库</td>
			      <td>学习教育</td>
			      <td>95702</td>
			      <td>10/10</td>
			      <td><a href="http://app.mi.com/detail/61201">链接</a></td>
			    </tr>
			    <tr>
			      <td>百度糯米-美食电影</td>
			      <td>时尚购物</td>
			      <td>94157</td>
			      <td>10/10</td>
			      <td><a href="http://app.mi.com/detail/497">链接</a></td>
			    </tr>
			    <tr>
			      <td>派派同城交友聊天</td>
			      <td>聊天社交</td>
			      <td>91856</td>
			      <td>10/10</td>
			      <td><a href="http://app.mi.com/detail/19174">链接</a></td>
			    </tr>
			    <tr>
			      <td>中华万年历日历</td>
			      <td>居家生活</td>
			      <td>89964</td>
			      <td>10/10</td>
			      <td><a href="http://app.mi.com/detail/69">链接</a></td>
			    </tr>
			  </tbody>
			</table>			
		</div> <!-- end of col-md-6 -->

		<div class="col-md-6">
			<table class="table table-striped">
			  <thead>
			    <tr>
			      <th>名字</th>
			      <th>类别</th>
			      <th>评论数</th>
			      <th>评分</th>
			      <th>网址</th>
			    </tr>
			  </thead>
			  <tbody>			    
			    <tr>
			      <td>虾米音乐</td>
			      <td>影音视听</td>
			      <td>83134</td>
			      <td>10/10</td>
			      <td><a href="http://app.mi.com/detail/31250">链接</a></td>
			    </tr>
			    <tr>
			      <td>超级玛丽</td>
			      <td>跑酷闯关</td>
			      <td>78786</td>
			      <td>10/10</td>
			      <td><a href="http://app.mi.com/detail/9436">链接</a></td>
			    </tr>
			    <tr>
			      <td>智行火车票</td>
			      <td>旅行交通</td>
			      <td>76311</td>
			      <td>10/10</td>
			      <td><a href="http://app.mi.com/detail/9550">链接</a></td>
			    </tr>
			    <tr>
			      <td>疯狂猜成语</td>
			      <td>休闲创意</td>
			      <td>75938</td>
			      <td>10/10</td>
			      <td><a href="http://app.mi.com/detail/39151">链接</a></td>
			    </tr>			    
			    <tr>
			      <td>美颜相机</td>
			      <td>摄影摄像</td>
			      <td>64705</td>
			      <td>10/10</td>
			      <td><a href="http://app.mi.com/detail/24269">链接</a></td>
			    </tr>
			    <tr>
			      <td>超级玛丽</td>
			      <td>跑酷闯关</td>
			      <td>61934</td>
			      <td>10/10</td>
			      <td><a href="http://app.mi.com/detail/72657">链接</a></td>
			    </tr>
			    <tr>
			      <td>玩图</td>
			      <td>摄影摄像</td>
			      <td>75938</td>
			      <td>10/10</td>
			      <td><a href="http://app.mi.com/detail/8254">链接</a></td>
			    </tr>
			    <tr>
			      <td>金山词霸</td>
			      <td>学习教育</td>
			      <td>55083</td>
			      <td>10/10</td>
			      <td><a href="http://app.mi.com/detail/1047">链接</a></td>
			    </tr>
			  </tbody>
			</table>			
		</div> <!-- end of col-md-6 -->
	</div>
	<h2>App分类排行榜</h2>
	<br>

	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-info">
				<div class="panel-heading">金融理财</div>
				<div class="panel-body">
					<table class="table table-condensed" style="margin-bottom:0px">
					  <thead>
					    <tr>
					      <th>App</th>
					      <th>网址</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <td>随手记</td>
					      <td><a href="http://app.mi.com/detail/336">链接</a></td>
					    </tr>
					    <tr>
					      <td>卡牛信用卡管家</td>
					      <td><a href="http://app.mi.com/detail/2501">链接</a></td>
					    </tr>
					    <tr>
					      <td>挖财记账理财	</td>
					      <td><a href="http://app.mi.com/detail/37">链接</a></td>
					    </tr>
					  </tbody>
					</table>
				</div>
			</div>

			<div class="panel panel-info">
				<div class="panel-heading">娱乐消遣</div>
				<div class="panel-body">
					<table class="table table-condensed" style="margin-bottom:0px">
					  <thead>
					    <tr>
					      <th>App</th>
					      <th>网址</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <td>内涵段子</td>
					      <td><a href="http://app.mi.com/detail/167">链接</a></td>
					    </tr>
					    <tr>
					      <td>疯狂猜电视剧</td>
					      <td><a href="http://app.mi.com/detail/44010">链接</a></td>
					    </tr>
					    <tr>
					      <td>治愈系涂色Colorfy</td>
					      <td><a href="http://app.mi.com/detail/105657">链接</a></td>
					    </tr>
					  </tbody>
					</table>
				</div>
			</div>
		</div> <!-- end of col-md-4 -->

		<div class="col-md-4">
			<div class="panel panel-info">
				<div class="panel-heading">学习教育</div>
				<div class="panel-body">
					<table class="table table-condensed" style="margin-bottom:0px">
					  <thead>
					    <tr>
					      <th>App</th>
					      <th>网址</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <td>猿题库</td>
					      <td><a href="http://app.mi.com/detail/61201">链接</a></td>
					    </tr>
					    <tr>
					      <td>金山词霸</td>
					      <td><a href="http://app.mi.com/detail/1047">链接</a></td>
					    </tr>
					    <tr>
					      <td>阿凡题-作业搜题</td>
					      <td><a href="http://app.mi.com/detail/66090">链接</a></td>
					    </tr>
					  </tbody>
					</table>
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading">聊天社交</div>
				<div class="panel-body">
					<table class="table table-condensed" style="margin-bottom:0px">
					  <thead>
					    <tr>
					      <th>App</th>
					      <th>网址</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <td>派派同城交友聊天</td>
					      <td><a href="http://app.mi.com/detail/19174">链接</a></td>
					    </tr>
					    <tr>
					      <td>爱豆</td>
					      <td><a href="http://app.mi.com/detail/56062">链接</a></td>
					    </tr>
					    <tr>
					      <td>缘份吧同城交友</td>
					      <td><a href="http://app.mi.com/detail/79614">链接</a></td>
					    </tr>
					  </tbody>
					</table>
				</div>
			</div>
		</div> <!-- end of col-md-4 -->

		<div class="col-md-4">
			<div class="panel panel-info">
				<div class="panel-heading">旅行交通</div>
				<div class="panel-body">
					<table class="table table-condensed" style="margin-bottom:0px">
					  <thead>
					    <tr>
					      <th>App</th>
					      <th>网址</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <td>智行火车票</td>
					      <td><a href="http://app.mi.com/detail/9550">链接</a></td>
					    </tr>
					    <tr>
					      <td>嘀嗒拼车</td>
					      <td><a href="http://app.mi.com/detail/76379">链接</a></td>
					    </tr>
					    <tr>
					      <td>阿里旅行</td>
					      <td><a href="http://app.mi.com/detail/1984">链接</a></td>
					    </tr>
					  </tbody>
					</table>
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading">时尚购物</div>
				<div class="panel-body">
					<table class="table table-condensed" style="margin-bottom:0px">
					  <thead>
					    <tr>
					      <th>App</th>
					      <th>网址</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <td>手机淘宝</td>
					      <td><a href="http://app.mi.com/detail/1023">链接</a></td>
					    </tr>
					    <tr>
					      <td>百度糯米</td>
					      <td><a href="http://app.mi.com/detail/497">链接</a></td>
					    </tr>
					    <tr>
					      <td>返利</td>
					      <td><a href="http://app.mi.com/detail/4928">链接</a></td>
					    </tr>
					  </tbody>
					</table>
				</div>
			</div>
		</div> <!-- end of col-md-4 -->		
	</div>
</div>

{% endblock %}