{% extends "base.html" %}
{% block title %} Spider {% endblock %}

{% block page_content %}

<div class="container page-header">
	<h2>数据来源</h2>
	<p>数据来源于<a href="http://app.mi.com/">小米应用商店</a>的App信息。共28个类别的App，每个类别不到2000个App，总App数据量约5万个，获取App的名字，类别，描述，url等信息，存储为json文件，在<a href="https://github.com/lyltj2010/miapp">data</a>文件夹目录下。</p>
	<br>
	<br>
	<img src="{{url_for('static',filename='img/app1.png')}}" alt="app" class="img-responsive center-block" style="width:900px;height:550px ">
</div>


<div class="container">
	<div class="page-header">
		<h2>爬虫代码</h2>
		<p>初步打算是用<a href="https://github.com/scrapy/scrapy">scrapy</a>框架爬取数据，但中间涉及到splash处理动态页面，未能提取pagination的信息，目前只能获取每个类别APP的第一页App list，只能获取约4000个App信息，暂时还未能找到原因，可能是scrapy的抽象层次比较高，隐藏了好多细节，对爬虫新手来说不太容易debug，但scrapy提供的框架还是非常有启发性的。
		<br>
		<br>
		<img src="http://scrapy-chs.readthedocs.io/zh_CN/0.24/_images/scrapy_architecture.png" alt="scrapy" class="img-responsive center-block">
		<br>
		<br>
		由于时间有限，就采取了爬取速度比较慢(相比与，scrapy是异步爬取，的确是快，怪不得都要设置wait参数，对server要nice)但比较直接的方式，Requests + BeautifulSoup。主要仿照scrapy的框架，爬虫设计有一下这些模块。</p> 

		<p>主要思路是，从<a href="http://app.mi.com/">Root URL</a>，爬取每个类别首页的<a href="http://app.mi.com/category/5">URL</a>，然后获取每个类别所有页面的<a href="http://app.mi.com/category/5#page=66">URL</a>，然后从这些页面获取所有App细节的<a href="http://app.mi.com/detail/120956">URL</a>，然后解析这些页面的数据，存储之。</p>
	</div>

	<div class="row">
		<div class="col-md-3">
			<img class="img-thumbnail" src="{{url_for('static',filename='img/code1.png')}}" style="width: 250px; height: 200px;">
			<h3>Spider Main</h3>
			<p>是中央调度器，负责启动程序，调用下载器，解析器、存储器。</p>
			<a href="https://github.com/lyltj2010/miapp/blob/master/spider/spider_main.py" class="btn btn-default" role="button" target="_blank">View source »</a>
		</div>
		<div class="col-md-3">
			<img class="img-thumbnail" src="{{url_for('static',filename='img/code2.png')}}" style="width: 250px; height: 200px;">
			<h3>Html Download</h3>
			<p>负责根据指定的url，用requests或PhantomJS发送请求，返回response。</p>
			<a href="https://github.com/lyltj2010/miapp/blob/master/spider/html_downloader.py" class="btn btn-default" role="button" target="_blank">View source »</a>
		</div>
		<div class="col-md-3">
			<img class="img-thumbnail" src="{{url_for('static',filename='img/code3.png')}}" style="width: 250px; height: 200px;">
			<h3>Html Parser</h3>
			<p>解析器，负责根据给定的response，解析下一步需要爬取的url或要存储的信息。</p>
			<a href="https://github.com/lyltj2010/miapp/blob/master/spider/html_parser.py" class="btn btn-default" role="button" target="_blank">View source »</a>
		</div>
		<div class="col-md-3">
			<img class="img-thumbnail" src="{{url_for('static',filename='img/code4.png')}}" style="width: 250px; height: 200px;">
			<h3>Json Output</h3>
			<p>存储器，负责接收html parser解析的数据，并存储为json文件。</p>
			<a href="https://github.com/lyltj2010/miapp/blob/master/spider/json_outputer.py" class="btn btn-default" role="button" target="_blank">View source »</a>
		</div>
	</div>
</div>

{% endblock %}











